.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #C0C0C0;
    align-items: center;
    height:100px;
    position: fixed;
    opacity: 0.8;
    z-index: 999;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: darkblue;
}

.links a {
    font-family: "Fira Code Medium";
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.headerImage {
    width: 145px;
    height: 145px;
    padding-left: 150px;
}

.main_image {
    width: 100%;
}

.table {
    display: flex;
    flex-direction: column;
}

.h1 {
    font-family: "Javanese Text";
    font-weight: bold;
    font-size: large;
}

.seasons {
    background-color: #C0C0C0;
    font-family: "Javanese Text";
    font-size: large;
    color: black;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seasons h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color:#191970
}
.seasons h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1.7;
    text-align: center;
    color:#191970
}
.seasons_blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
}

.season_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border-radius: 20px;
}

.season_block .btn{
    width:50%;
    border-radius: 10px;
}
.season_block h2{
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1;
}
.reglament{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
.reglament h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color:#191970
}